* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

/* Text */
.pacMan-title {
  color: blue;
  text-align: center;
}

.score-display {
  border: 5px solid red;
  background-color: red;
  color: gold;
  padding: 1px;
  margin-bottom: 5px;
}

/* Grid Wrapper & Game Grid */
.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-grid {
  align-items: center;
  background-color: rgb(241, 237, 237);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.game-grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5.555%;
  width: 5.555%;
  font-size: 7px;
}

/* Walls */
.wall {
  background-color: grey;
}

.pen-wall {
  background-color: darkred;
  color: white;
}

/* Characters */
.pacMan {
  background-color: yellow;
}

.food {
  background-image: url('../images/coinStill.png');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.star {
  background-image: url('../images/star.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.ghost {
  background-color: blue;
  color: white;
}

.ghost2 {
  background-color: purple;
  color: white;
}

.portalLeft {
  /* background-image: url(../images/tunnel.png); */
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
  background-color: black;
}

.portalRight {
  /* background-image: url(../images/tunnel.png); */
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(270deg);
  background-color: black;
}
